@media all and (max-width:1750px){
    /*백그라운드 circle만 변경*/
    body{

    }

    #section0 .back_cir .cir1{
        width: 500px;
        height: 500px;
    }
    
    #section0 .back_cir .cir2{
        width: 350px;
        height: 350px;
    }
    
    #section0 .back_cir .cir3{
        width: 150px;
        height: 150px;
    
    }

}


@media all and (min-width:970px) and (max-width:1280px){

    body{
    }

    #header .top{
        height: 100px;
    }
    
    #header nav{
        position: absolute;
        top: 50px;
    }

    #section0{margin-left:0}

    #section0 .back_cir{
        display: none;
    }
    
    #section0 .main_img .main1{
        display: none;
    }

    #section0 .main_img .main2{
        display: block;
    }

    #section0 .main_text{
        position: absolute;
        top: 75%;
        left: 58%;
    }

    #section0 .main_text h5, #section0 .main_text p{
        display: none;
    }

    #section2 .image{
        width: 100%;
    }

    #section3 .list ul li{
        margin-right: 30px;
        width: calc( ( 100% - 60px ) / 3 );
    }

    #section4 .swiper-container{
        display: none;
    }

    #section4 .list2{
        display: block;
    }

    #section4 .list2 li{
        margin-top: 80px;
        padding-top: 50px;
        width: 100%;
        height: 450px;
        background-color: blueviolet;
        margin-bottom: 50px;
    }


    #section4 .list2 li .text{
        margin-left: 50px;
        padding-right: 20px;
        width: 35%;
        height: 90%;
        background-color: rgba(256, 256, 256, 0.5);
    }

    #section4 .list2 li .text h1, #section4 .list2 li .text p{
        padding: 20px 0 0 20px;
    }

    #section4 .list2 li .text > div{
        margin: 20px 0 0 20px;
        width: 20px;
        height: 3px;
        background-color: #383838;
    }

    #section4 .list2 li .text p{
        word-wrap: break-word;
        font-size: 1.5rem;
        font-weight: 500;
    }

    #section4 .list2 li .text h1{
        font-weight: 200;
        font-size: 1.2rem;
    }

    #footer .name, .text{
        margin-left: 20px;
    }

}






@media all and (min-width:740px) and (max-width:969px) {

    body{
    }

    .inner{
        width: 100%;
        margin: 0 auto;
    }

    .all_menu_box{
        display: none;
    }

    #header .top{
        height: 100px;
    }

    #header nav{
        position: absolute;
        top: 50px;
    }

    #section0{margin-left:0}

    #section0 .back_cir{
        display: none;
    }
    
    #section0 .main_img .main1{
        display: none;
    }

    #section0 .main_img .main2{
        display: block;
    }

    #section0 .main_text{
        position: absolute;
        top: 72%;
        left: 45%;
    }

    #section0 .main_text h3{
        font-size: 1.5rem;
    }

    #section0 .main_text h1{
        font-size: 3rem;
    }

    #section0 .main_text h5, #section0 .main_text p{
        display: none;
    }

    #section1{
        margin-top: 100px;
    }

    #section2 .image{
        width: 100%;
    }

    #section3 .list ul{
    }

    #section3 .list ul li{
        margin-right: 100px;
        width: calc( ( 100% - 200px ) / 2 );
    }

    #section3 .list ul li:nth-child(3n){
        margin-right: 100px;
    }
    
    #section3 .list ul li:nth-child(2n){
        margin-right: 0;
    }

    #section3 .list ul li a .image{
        top: 120px;
        right: -50px;
    }

    #section3 .list ul li a .text{
        opacity: 0;
        position: absolute;
        top: 220px;
        right : 10px;
        text-align: center;
    }

    #section3 .list ul li:nth-child(4) a .text{
        right: 0px !important;
    }

    #section4 .swiper-container{
        display: none;
    }

    #section4 .list2{
        display: block;
    }

    #section4 .list2 li{
        margin-top: 80px;
        padding-top: 50px;
        width: 100%;
        height: 450px;
        background-color: blueviolet;
        margin-bottom: 50px;
    }


    #section4 .list2 li .text{
        margin-left: 50px;
        padding-right: 20px;
        width: 42%;
        height: 90%;
        background-color: rgba(256, 256, 256, 0.5);
    }

    #section4 .list2 li .text h1, #section4 .list2 li .text p{
        padding: 20px 0 0 20px;
    }

    #section4 .list2 li .text > div{
        margin: 20px 0 0 20px;
        width: 20px;
        height: 3px;
        background-color: #383838;
    }

    #section4 .list2 li .text p{
        word-wrap: break-word;
        font-size: 1.5rem;
        font-weight: 500;
    }

    #section4 .list2 li .text h1{
        font-weight: 200;
        font-size: 1.2rem;
    }

    #footer .name, .text{
        margin-left: 20px;
    }

    #footer .list{
        margin-top: 20px;
    }

}






@media all and (max-width:739px) {

    body{

    }

    .inner{
        max-width:100%;
    }

    .all_menu_box{
        display: none;
    }

    /*********************header****************************/

    #header{
    }

    #header .logo{
        width: 180px;
        padding: 0 0 0 20px;
    }

    #header .menu_icon{
        position: absolute;
        top: 20px;
        right: 50px;
        z-index: 10000;
        width: 25px;
        height: 40px;
    }

    
    #header .menu_icon div{
        margin-top: 5px;
        width: 25px;
        height: 5px;
        background-color: #383838;
    }

    #header nav{
        position: absolute;
        top: 70px;
        left: auto;
        right: 0px;;
        margin: 0;
        width: 250px;
        text-align: center;
    }

    #header nav > ul{
        display: none;
        width: 250px;
        height: auto;
        overflow: hidden;
        background-color: #fff;
    }

    #header nav > ul.active{
        height : auto;
    }
    
    #header nav ul .main_nav{
        margin: 0 auto;
        padding: 10px 0;
        clear: both;
        width: 250px;
        border-bottom: 1px solid #D1CFD0;
    }

    #header nav ul .main_nav:last-child{
        border: 0;
    }

    #header nav ul .main_nav:hover ul{
        height: 140px;
        margin-top: 10px;
    }

    #header nav ul .main_nav ul{
        position: inherit;
        left: 0;
        height: 0;
        overflow: hidden;
        margin-top: 0;
        padding: 0;
        border-radius: 0;
        border: none;
        opacity: 1;
    }

    #header nav ul .main_nav ul li{
        padding-top: 10px;
        padding-bottom: 0px;
        border-top: 1px solid #FAD0BA;
        background-color: #fff;
    }

    #header nav ul .main_nav ul li:last-child{
        padding-bottom: 0;
    }


    #header .lag{
        display: none;
    }

    
    #section0{margin-left:0}
        
    #section0 .back_cir{
        display: none;
    }
    
    #section0 .main_img .main1{
        display: none;
    }

    #section0 .main_img .main3{
        display: block;
    }

    #section0 .main_text{
        position: absolute;
        top: 40%;
        left: 15%;
    }
    
    #section0 .main_img .main_text h3{
        font-size: 2rem;
        color: #D1CFD0;
        text-align: right;
    }
    
    #section0 .main_img .main_text h1{
        /*font-family: 'BRLNSR' !important;*/
        font-size: 4rem;
        color: #E5AD94;
        text-align: right;
    }
    
    #section0 .main_img .main_text h5, #section0 .main_img .main_text p{
        display: none;
    }

    #section0 .scroll{
        display: none;
    }

    #section2 .image{
        width: 100%;
    }

    #section2 .text{
        margin-right: 10px;
    }
    
    #section2 .text h2{
        font-family: times;
        font-size: 2rem;
        color: #E5AD94;
        text-align: right;
    }
    
    #section2 .text h1{
        font-family: times;
        font-size: 5rem;
        color: #E5AD94;
        line-height: 1rem;
    }
    
    #section2 .text h1 b{
        font-size: 10rem;
    }

    #section3 .list ul{
        margin-top: 20px;
    }

    #section3 .list ul li{
        margin: 50px 50px 0 20px;
        width: calc( ( 100% - 90px ) / 2 );
    }

    #section3 .list ul li:nth-child(3n){
        margin-right: 50px;
    }
    
    #section3 .list ul li:nth-child(2n){
        margin-right: 20px;
        margin-left: 0;
    }

    #section3 .list ul li a h1{
        font-size: 20rem;
        font-weight: 500;
        color: #E5D8D0;
    }

    #section3 .list ul li a h1{
        display: none;
    }

    #section3 .list ul li a .image{
        position: inherit;
        margin: 0 auto;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
        background-color: #fff;
    }

    #section3 .list ul li a .text{
        margin-top: 20px;
        position: inherit;
        opacity: 1;
        text-align: center;
    }

    #section3 .list ul li:nth-child(2) h5{
        color: #383838 !important;
    }



    #section4 .swiper-container{
        display: none;
    }

    #section4 .list2{
        display: block;
    }

    #section4 .list2 li{
        margin-top: 80px;
        padding-top: 300px;
        width: 100%;
        height: 200px;
        background-color: blueviolet;
        margin-bottom: 50px;
    }


    #section4 .list2 li .text{
        margin-left: 50px;
        padding-right: 20px;
        width: 75%;
        height: 160px;
        background-color: rgba(256, 256, 256, 0.5);
    }

    #section4 .list2 li .text h1, #section4 .list2 li .text p{
        padding: 20px 0 0 20px;
    }

    #section4 .list2 li .text > div{
        margin: 20px 0 0 20px;
        width: 20px;
        height: 3px;
        background-color: #383838;
    }

    #section4 .list2 li .text p{
        word-wrap: break-word;
        font-size: 1rem;
        font-weight: 700;
    }

    #section4 .list2 li .text h1{
        font-weight: 200;
        font-size: 0.9rem;
        font-weight: 600;
    }
    

    #footer .name, .text{
        margin-left: 20px;
    }

    #footer .list{
        margin-top: 30px;
        float: left;
        margin-bottom: 50px;
    }

    #footer .list li{
        margin-left: 20px;
        margin-bottom: 20px;
    }

    #footer .text{
        padding-right: 20px;
    }






}