@media all and (min-width:970px) and (max-width:1280px){

    .inner{
        width: 100%;
    }

    #header nav{
        position: relative;
      /*  top: 0;
        left: 50%;
        z-index: 500;
        margin-left: -300px;
        text-align: center;*/
        margin-bottom:35px
    }

    #header .top{
        height: 100px;
    }
    
    #header nav{
        position: absolute;
        top: 50px;
    }

    /*********************section1****************************/

    #section1 .text{
        margin-left: 50px;
    }

    #section1 .text h3{
        margin-top: 10%;
        font-size: 1.5rem;
    }

    #section1 .text h1{
        margin-top: 5px;
        font-size: 7rem;
    }

    #section1 .text ul{
        margin-top: 25px;
    }

    #section1 .text ul li{
        width: 150px;
        margin-right: 40px;
    }

    #section1 .text ul li:last-child{
        text-align: center;
        width: 85px;
    }

    /*********************section2****************************/

    #section2{
        margin-top: 0px;
    }

    #section2 .info{
        width: 30%;
        padding-left: 50px;
        border-top: 1px solid #383838;
    }

    #section2 .image .first, #section2 .image .second, #section2 .image .third{
        width: 500px;
    }

    #section2 .image .first{
        top: 180px;
        right: 80px;
    }

    #section2 .image .second{
        top: 350px;
        right: 40px;
    }

    /*********************section4****************************/

    #section4 .little_p .image{
        width: 50%;
    }

    #section4 .little_p .text{
        margin: 55px 0 0 40px;
        width: 40%;
    }

    #section4 .grandpa .text{
        margin: 40px 0 30px 50px ;
        width: 45%;
    }

    #section4 .grandpa .image{
        width: 45%;
    }

    #section4 .girl .image{
        clear: both;
        width:55%;
    }

    #section4 .girl .text{
        margin: 55px 0 0 50px;
        width: 35%;
    }



    /*********************section5****************************/
    .slick-slide {
        width: 300px;
      }



    /*********************footer****************************/

    #footer .name, .text{
        margin-left: 20px;
    }
    

}













@media all and (min-width:740px) and (max-width:969px) { 


    .inner{
        width: 100%;
    }

    #header .top{
        height: 100px;
    }

    #header nav{
        position: absolute;
        top: 50px;
    }

    /*********************section1****************************/

    #section1 .image img:nth-child(1){
        display: none;
    }

    #section1 .image img:nth-child(2){
        display: block;
    }

    #section1 .text{
        margin-left: 50px;
    }

    #section1 .text h3{
        margin-top: 20%;
        font-size: 1.5rem;
    }

    #section1 .text h1{
        margin-top: 5px;
        font-size: 7rem;
    }

    #section1 .text ul{
        margin-top: 25px;
    }

    #section1 .text ul li{
        width: 150px;
        margin-right: 40px;
    }

    #section1 .text ul li:last-child{
        text-align: center;
        width: 85px;
    }

    /*********************section2****************************/

    #section2{
        margin-top: 12%;
    }

    #section2 .info{
        width: 100%;
        padding: 0 20px;
        border-top: 0;
    }

    #section2 .info h1{
        margin: 55px 0 20px -5px;
        font-size: 2.5rem;
    }

    #section2 .info ul{
        width: 250px;
    }

    #section2 .image .first{
        width: 400px;
        top: 0px;
        right: 0;
    }

    #section2 .image .second, #section2 .image .third{
        display: none;
    }

    /*********************section4****************************/

    #section4 .little_p .image{
        width: 50%;
    }

    #section4 .little_p .text{
        margin: 55px 0 0 40px;
        width: 40%;
    }

    #section4 .little_p .text h1, #section4 .grandpa .text h1, #section4 .girl .text h1{
        font-size: 2rem;
    }

    #section4 .little_p .text p, #section4 .grandpa .text p, #section4 .girl .text p{
        font-size: 1rem;
    }

    #section4 .grandpa .text{
        margin: 40px 0 30px 50px ;
        width: 45%;
    }

    #section4 .grandpa .image{
        width: 45%;
    }

    #section4 .girl .image{
        clear: both;
        width:55%;
    }

    #section4 .girl .text{
        margin: 55px 0 0 50px;
        width: 35%;
    }

    /*********************section5****************************/
    .slick-slide {
        width: 350px;
    }


    /*********************footer****************************/

    #footer .name, .text{
        margin-left: 20px;
    }

    #footer .list{
        margin-top: 20px;
    }


    
}




@media all and (max-width:739px) { 

    .inner{
        width: 100%;
    }
    /*********************header****************************/

    #header{
    }

    #header .logo{
        width: 180px;
        padding: 0 0 0 20px;
    }

    #header .menu_icon{
        position: absolute;
        top: 20px;
        right: 50px;
        z-index: 10000;
        width: 25px;
        height: 40px;
    }

    
    #header .menu_icon div{
        margin-top: 5px;
        width: 25px;
        height: 5px;
        background-color: #383838;
    }

    #header nav{
        position: absolute;
        top: 70px;
        left: auto;
        right: 0px;;
        margin: 0;
        width: 250px;
        text-align: center;
    }/*right:0으로 해서 보이게 하기*/

    #header nav > ul{
        display: none;
        width: 250px;
        height: auto;
        overflow: hidden;
        background-color: #fff;
    }

    #header nav > ul.active{
        height : auto;
    }
    
    #header nav ul .main_nav{
        margin: 0 auto;
        padding: 10px 0;
        clear: both;
        width: 250px;
        border-bottom: 1px solid #D1CFD0;
    }

    #header nav ul .main_nav:last-child{
        border: 0;
    }

    #header nav ul .main_nav:hover ul{
        height: 140px;
        margin-top: 10px;
    }

    #header nav ul .main_nav ul{
        position: inherit;
        left: 0;
        height: 0;
        overflow: hidden;
        margin-top: 0;
        padding: 0;
        border-radius: 0;
        border: none;
        opacity: 1;
    }

    #header nav ul .main_nav ul li{
        padding-top: 10px;
        padding-bottom: 0px;
        border-top: 1px solid #FAD0BA;
        background-color: #fff;
    }

    #header nav ul .main_nav ul li:last-child{
        padding-bottom: 0;
    }


    #header .lag{
        display: none;
    }

    #header .bottom .image{
        float: left;
        width: 150px;
    }
    
    #header .bottom .image img{
        width: 100%;
    }

    /*********************section1****************************/

    #section1 .image img:nth-child(1){
        display: none;
    }

    #section1 .image img:nth-child(3){
        display: block;
    }

    #section1 .text{
        margin-bottom: 400px;
        padding-left: 20px;
    }

    #section1 .text h3{
        margin-top: 65%;
        font-size: 1.2rem;
    }

    #section1 .text h1{
        font-size: 5rem;
    }

    #section1 .text ul{
        display: none;
    }

    /*********************section2****************************/

    #section2{
        margin-top: 0;
    }

    #section2 .info{
        width: 100%;
        padding: 0 20px;
        border-top: 0;
    }

    #section2 .image{
        margin-top: 50px;
    }

    #section2 .image .first, #section2 .image .second, #section2 .image .third{
        position: inherit;
        width: 100%;
        opacity: 1;
    }

    #section2 .image .second img{
        opacity: 1;
    }

    
    /*********************section3****************************/
    #section3{
        display: none;
        
    }

    /*********************section4****************************/

    #section4{

    }

    #section4 .little_p, #section4 .grandpa, #section4 .girl{
        width: 100%;
    }

    #section4 .little_p .image{
        width: 100%;
        text-align: center;
    }

    #section4 .little_p .image::before{
        content: '어린왕자';
        font-size: 2rem;
        font-weight: 600;
    }

    #section4 .little_p .image img{
        margin: 20px 0;
    }

    #section4 .little_p .text{
        width: 100%;
        margin: 0 20px;
    }

    #section4 .little_p .text h1{
        display: none;
    }

    #section4 .little_p .text p{
        font-size: 1rem;
    }

    #section4 .grandpa{
        width: 100%;
    }

    #section4 .grandpa .text{
        margin: 50px 0 30px 0;
        text-align: center;
    }

    #section4 .grandpa .text h1{
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 0;
    }

    #section4 .grandpa .text p{
        display: none;
    }

    #section4 .grandpa .image{
        width: 100%;
    }

    #section4 .girl{
        width: 100%;
    }

    #section4 .girl .text{
        margin: 50px 0 30px 0;
    }

    #section4 .girl .text h1{
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 0;
    }

    #section4 .girl .text p{
        font-size: 1rem;
    }

    #section4 .girl .image{
        width: 100%;
    }

    





    /*********************footer****************************/
    #footer .name, .text{
        margin-left: 20px;
    }

    #footer .list{
        margin-top: 30px;
        float: left;
        margin-bottom: 50px;
    }

    #footer .list li{
        margin-left: 20px;
        margin-bottom: 20px;
    }

    #footer .text{
        padding-right: 20px;
    }




}