/*sub  공통영역 디자인 하는 공간*/
.active > a{
    color: #E5AD94 !important;
}

.inner{
    width:1280px;
    margin: 0 auto;
}


/*페이지별 영역*/



/*********************header****************************/
#header{
    position: relative;
    width: 100%;
    margin-bottom: 25px;
}

#header .top{
    width: 100%;
    height: 80px;
}

#header .logo{
    position: absolute;
    top: 25px;
    left: 4%;
    z-index: 600;
    width: 180px;
}

#header .logo img{
    width: 100%;
}

#header nav{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
    text-align: center;
    width: 100%;
    height: 100px;
}

#header nav:after{content: '';display: block;clear:both}

#header nav > ul{
    width: 800px;
    margin: 0 auto;
}

#header nav ul .main_nav{
    float: left;
    position: relative;
    margin-top: 25px;
    padding: 0 40px;
}

#header nav ul .main_nav > a{
    font-size: 1.2rem;
    color: #383838;
}

#header nav ul .main_nav:hover > a{
    color: #E5AD94;
}

#header nav ul .main_nav:hover > ul{
    opacity: 1;
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

#header nav ul .main_nav ul{
    padding: 20px;
    margin-top: 15px;
    background-color: #fff;
    opacity: 0;
}

#header nav ul .main_nav ul li{
    margin-bottom: 15px;
}

#header nav ul .main_nav ul li:last-child{
    margin-bottom: 0;
}

#header nav ul .main_nav ul li > a{
    font-size: 1rem;
}

#header nav ul .main_nav ul li > a:hover{
    color: #E5AD94;
}

#header .lag{
    position: absolute;
    top: 25px;
    right: 4%;
    z-index: 600;
}

#header .lag span{
    font-size: 1.2rem;
    color: #383838;
}

#header .lag span:hover{
    color: #E5AD94;
    cursor: pointer;
}

#header .lag span:hover:nth-child(2){
    color: #383838;
}




/*********************section1****************************/

#section1{
    width: 100%;
}

#section1 .image{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    width: 100%;
}

#section1 .image img{
    width: 100%;
}

#section1 .image img:nth-child(2), #section1 .image img:nth-child(3){
    display: none;
}

#section1 .text h3{
    margin-top: 15%;
    color: #fff;
    font-size: 1.8rem;
}

#section1 .text h1{
    margin-top: 20px;
    font-family: times;
    color: #fff;
    font-size: 9rem;
}

#section1 .text ul{
    margin-top: 45px;
}

#section1 .text ul li{
    float: left;
    text-align: center;
    width: 250px;
    margin-right: 80px;
}

#section1 .text ul li:last-child{
    text-align: center;
    width: 140px;
}

#section1 .text ul li div{
    width: 100%;
}

#section1 .text ul li div img{
    width: 100%;
}

#section1 .text ul li p{
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 300px;
}

#section1::after{
    display: block;
    content: '';
    clear: both;
}


/*********************section2****************************/

#section2{
    position: relative;
    margin-top: 160px;
}

#section2 .info{
    width: 25%;
    padding-left: 18%;
    border-top: 1px solid #383838;
}

#section2 .info h1{
    margin: 15px 0 40px -5px;
    font-size: 4rem;
}

#section2 .info ul{
    margin-bottom: 70px;
}

#section2 .info ul li{
    margin-bottom: 10px;
}

#section2 .info ul li span{
    font-weight: 900;
}

#section2 .info div h5{ 
    font-size: 1rem;
    margin-bottom: 20px;
}

#section2 .image .first, #section2 .image .second, #section2 .image .third{
    position: absolute;
    width: 600px;
}

#section2 .image .first{
    top: 80px;
    right: 10%;
    z-index: 1000;
}

#section2 .image .second{
    top: 150px;
    right: 5%;
    z-index: 900;
    background-color: #fff;
}

#section2 .image .second img{
    opacity: 0.5;
}

#section2 .image .third{
    top: 0;
    right: 0;
    z-index: 800;
    opacity: 0.2;
    background-color: #fff;
}

#section2 .image img{
    width: 100%;
}

#section2::after{
    display: block;
    content: '';
    clear: both;
}


/*********************section3****************************/

#section3{
    margin-top: 160px;
    width: 100%;
    height: 250px;
    background-size: 100%;
    background-image: url(../image/sub_parallax2.jpg);
}

#section3 .separator {
    font-size: 5rem;
    line-height: 250px;
    text-align: center;
    color: #fff;
}

/*********************section4****************************/
#section4{
    position: relative;
    margin-top: 160px;
    width: 100%;
}

#section4 .little_p{
    width: 100%;
}

#section4 .little_p .image{
    float: left;
    width: 600px;
}

#section4 .little_p .image img{
    width: 100%;
}


#section4 .little_p .text{
    margin: 300px 0 0 50px;
    float: left;
    width: 600px;
}

#section4 .little_p .text h1{
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 30px;
}

#section4 .little_p .text p{
    font-size: 1.2rem;
}

#section4 .little_p::after{
    display: block;
    content: '';
    clear: both;
}

#section4 .grandpa{
}

#section4 .grandpa .text{
    float: left;
    margin: 60px 0;
    width: 600px;
}

#section4 .grandpa .text h1{
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 30px;
}

#section4 .grandpa .text p{
    font-size: 1.2rem;
}

#section4 .grandpa .image{
    float: right;
    width: 650px;
}

#section4 .grandpa .image img{
    width: 100%;
}

#section4 .girl{

}

#section4 .girl .image{
    float: left;
    width:630px;
}

#section4 .girl .image img{
    width: 100%;
}

#section4 .girl .text{
    float: left;
    margin: 70px 0 0 50px;
    width: 600px;
}

#section4 .girl .text h1{
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 30px;
}

#section4 .girl .text p{
    font-size: 1.2rem;
}

#section4::after{
    display: block;
    content: '';
    clear: both;
}




/*********************section5****************************/
#section5{
    margin-top: 160px;
    width: 100%;
}

#section5 .title{
    font-size: 2rem;
}

.slider {
    width: 100%;
    margin: 30px auto;
}

.slick-slide {
  width: 400px;
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}


.slider div p{
    margin-top: 15px;
    font-size: 1.2rem;
    text-align: center;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}


.slick-slide{
    margin-right: 15px;
}

.slick-slide img{
    width: 100%;
}





/*********************footer****************************/

#footer{
    margin-top: 160px;
    width: 100%;
}

#footer .line{
    width: 100%;
    height: 1px;
    background-color: #D1CFD0;
    margin-bottom: 60px;
}

#footer .name{
    float: left;
    margin-right: 50px;
}

#footer .list{
    float: right;
}

#footer .list li{
    float: left;
    margin-left: 60px;
    margin-bottom: 80px;
}

#footer .list li h2{
    font-size: 1.2rem;
    margin-bottom: 10px;
}

#footer .list li p{
    font-size: 0.8rem;
    color: #D1CFD0;
    margin-top: 10px;
    line-height: 1.2rem;
}

#footer .list li p b{
    margin-right: 10px;
}

#footer .list li > div{
    float: left;
    margin-right: 20px;
}



#footer .text{
    display: block;
    clear: both;
    content: '';
    margin-bottom: 25px;
}